body {
    background-color: #f5f5f5;
}

.form-account {
    width: 510px;
    height: 100%;
    margin: auto;
}

#account {
    text-align: center;
}

#headerDiv {
    background-color: #e9ecef;
}

.green {
    -webkit-text-fill-color: #28a745;
}

.red {
    -webkit-text-fill-color: #dc3545;
}